<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

  <div class="container">
    <h3><a href="http://art.thewalters.org/detail/--ObjectID--">{{Title}} <i class="fa fa-chevron-circle-right" style="font-size: 25px;"></i></a>
    </h3>
    <div class="row">
      <div class="col-md-12">
          <span>
            <a href="#" class="facebook-like">
              <i class="fa fa-facebook-square"></i>
            </a>
            </span>
          <span>
            <a href="#" class="pinterest" style="height: 55px;  width: 55px;">
              <i class="fa fa-pinterest-square"></i>
            </a>
          </span>
      <span>
      <a href="https://twitter.com/intent/tweet?text=I+am+at+the+%40walters_museum+looking+at&url=http://art.thewalters.org/detail/--ObjectNumber--" class="twitter" style="height: 55px; width:55px;">
        <i class="fa fa-twitter-square" style="height: 55px;  width: 55px;"></i>
      </a>
        </span>
      </div></div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn sample btn-sample">Buy Prints</button>
        <button class="btn sample btn-sample">Donate</button>
      </div>
    </div>


  </div>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>