<p >sample pinterest link</p>
<p class="lead">   <a href="http://www.pinterest.com/pin/create/button/
        ?url=imgURL
        &media=image.jpg
        &description=Next%20stop%3A%20Pinterest"
                      data-pin-do="buttonPin"
                      data-pin-config="above">
  <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
</a></p>


<p>twitter</p>

<a href="https://twitter.com/intent/tweet?text=I+am+at+the+%40walters_museum+looking+at&url=http://art.thewalters.org/detail/--ObjectNumber--">Twitter</a>



I am at the @walters_musem looking at http://art.thewalters.org/detail