= javascript_include_tag "item"
%div{ id: "item_data", "data-bgimage" => @random_image}
  %h1{ class: "active transparent-bg"} #{WSS::APP_NAME}
%p.transparent-bg-content Enter the art piece identifier located on the plaque.
%p
  %input{ id: :object_number, placeholder: "Ex. 54.408", class: "input-lg"}
%p
  %button{ id: :submit_button, class: "btn-lg btn-primary"} Submit
